* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
}

.app-wrapper {
  width: 400px;
}

.title {
  font-size: 28px;
  padding-top: 24px;
}

.email-form {
  font-size: 20px;
}

.password-form {
  font-size: 20px;
}

.input[type="text"] {
  width: 80%;
  padding: 16px;
  margin-top: 12px;
  margin-bottom: 26px;
  margin-right: 0px;
  margin-left: 0px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 8px;
}

.input[type="text"]:focus {
  background-color: #f1f1f1;
  border: #f5b921;
}

.btn-singup {
  background-color: #f5b921;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
}

.error {
  color: #ff5946;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-right: 2px;
  margin-left: 2px;
}
