.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-singup {
  width: 100px;
  min-width: 5px;
  height: 40px;
  background-color: lightpink;
  border: lightpink;
  border-radius: 50px;
  cursor: pointer;
}