.list-item-body {
  padding: 1rem;
  margin:2rem;
  width: 100%;
  height: 170px;
  list-style-type: none;
  background: #ffffff;
  border: solid rgb(238, 238, 238) 0.2rem;
  border-radius: 40px;
  display: flex;
  max-width: 600px;
  min-width: 500px;
}



.list-item-body:hover{
  background-color: rgba(247, 247, 247, 0.836);
  box-shadow: 5px 5px 5px #3f00c71a;
}

.list-item-thumbnail{
  margin: 10px;
  width: 130px;
  height: 130px;
}

.list-item-thumbnail img{
  height:inherit;
  width:inherit;
  object-fit: cover;
  border-radius: 70%;
}

.list-item-text {
  word-break: normal;
  color: grey;
  margin-top: 15px;
}

.list-item-date {
  color: grey;
}
.btn-delete,
.btn-edit  {
  width: 40px;
  min-width: 5px;
  height: 40px;
  border-radius: 100%;
  background-color: lightpink;
  border: lightpink;
  margin-left: 400px;
  cursor: pointer;
  position: relative;
  vertical-align:initial; 

}


