.list-box {
  display: flex;
  flex-direction: column;
  border: 2px solid brown;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
}
#list {
  text-align: left;
  justify-content: center;
  list-style: none;
  margin: 0px;
  max-width: 600px;
  padding: 16px;
  padding-bottom: 24px;
}
.fa-undo {
  font-size: 48px;
  color: #f5b921;
}
.list-months {
  display: flex;
  font-size: 24px;
  list-style: none;
  justify-content: space-evenly;
}
.reset {
  width: 55px;
  background-color: lightskyblue;
  margin-left: 35px;
}
.fa-calendar-alt {
  font-size: 48px;
  color: #f5b921;
}
