.App{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider{
  width: 40%;
  height: 500px;
  background-color: black;
  margin-bottom: 30px;
  border-radius: 20%;
}

.sliderInner {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.sliderInner .left {
  flex: 5%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
}

.sliderInner .center {
  flex: 75%;
  height: 100%;
  display: grid;
  place-items: center;
}

.sliderInner .right {
  flex: 5%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  text-align-last: center;
}

.imgTitle {
  font-size: 5rem;
}

.subtitle {
  font-size: 2rem;
}

h1, p {
  background-color: rgb(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 9px;
}

.fa-angle-right,
.fa-angle-left {
  font-size: 5rem;
}

